.container {
     max-width: 1000px;
     margin: 0 auto;
}


.grid { 
    display:grid;
    grid-gap: 65px;
    }

 .grid-2-column{
        grid-template-columns: 1fr 1fr;
    }

.grid-3-column-footer{
    grid-template-columns: 2fr 2fr 2fr;
}

body {
    font-family:'Poppins', 'Courier New', Courier, monospace;
}

section {
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0;
}


main h2 {
    color: #272044;
    letter-spacing: 5px;
    line-height: 1.5;
    font: 16px;
    font-weight: 700;
    opacity: 0.3;
    text-transform: uppercase;
    margin: 0;

}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #272044;
    margin: 0;
}

main p {
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;

}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),  url("./images/tableM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 80px 0px;
    text-align: center;
}
header h1 { 
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    margin: 0 0 30px;

}

header h2 {
          font: weight 450;
          font-size: 45px;
          line-height: 1.5;
          margin: 0;
}

header h3 {
    font-weight: 800;
    line-height: 1.5;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 16px 30px;
    margin-top: 32px;
    display: inline-block;
}


footer {
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
  
    background-image: linear-gradient(rgba(30, 22, 60, 0.9), rgba(30, 22, 60, 0.8)), url('./images/Bosjes3.jpg') ;
}


footer h3 { 
           font-weight: 700px;
           font-size: 20px;
           line-height: 20px;
           

}

footer p {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.7;
   
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.8;
}

@media( max-width: 900px ) {
    header{
        padding: 60px 0;
    }
    
    header h1{
        font-size: 40px;
    }

    header h2 {
        font-size: 25px;
    }
    header h3  {
        font-size: 12px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }

    section{
        padding: 30px;
    }
}